<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>POLITICAS</h4>
        <ul>
          <li>
            <a href="#">Politicas de privacidad</a>
          </li>
          <li>
            <a href="#">Politicas de cambio</a>
          </li>
          <li>
            <a href="#">Politicas de envio</a>
          </li>
          <li>
            <a href="#">Terminos y condiciones</a>
          </li>
          <li>
            <a href="#">Responsabilidad social</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>SOBRE NOSOTROS</h4>
        <ul>
          <li>
            <a href="#">Encuentra tu tienda</a>
          </li>
          <li>
            <a href="#">Contactanos</a>
          </li>
          <li>
            <a href="#">Trabaja con nocostros</a>
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>SIGUENOS EN:</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="copyright">
        © Copyright Colombia. Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>
