.row {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.col-3 {
  height: 562px;
  opacity: 1;
  display: inline-block;
}

.card {
  margin: 20px 20px 20px 20px;
  border: 1px solid #e6e6e6;
}

.card-header {
  height: 450px;
  width: 25%;
}

.card-content {
  height: 211px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  opacity: 1;
}

.card-content h4 {
  height: 55px;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.card-content .precios {
  display: flex;
}

.card-content .precio {
  top: 2328px;
  left: 231px;
  width: 113px;
  height: 32px;
  text-align: left;
  font: normal normal bold 27px/32px Helvetica Neue;
  letter-spacing: 0px;
  color: #5b17aa;
  opacity: 1;
}

.card-content .precio2 {
  top: 2327px;
  left: 380px;
  width: 113px;
  height: 32px;
  text-align: left;
  text-decoration: line-through;
  letter-spacing: 0px;
  color: #6b6b6b;
  opacity: 1;
}

.card-content .agregarCarrito {
  top: 2374px;
  left: 231px;
  width: 262px;
  height: 44px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card-content .agregarCarrito:active {
  background: #6b6b6b;
}

.card-content .agregarCarrito p {
  top: 2384px;
  left: 295px;
  width: 148px;
  height: 23px;
  text-align: center;
  font: normal normal normal 19px/24px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 751px) {
  #productos {
    padding-top: 10rem;
  }
}
