<section id="loading" *ngIf="loading">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</section>

<section id="productos" *ngIf="!loading">
  <h1 class="titulo-destacado">Publicaciones destacadas</h1>
  <ul id="autoWidth" class="cs-hidden">
    <li class="item-a" *ngFor="let publicacion of publicacionesDestacadas">
      <a [href]="publicacion.permalink">
        <div class="box">
          <div class="slide-img">
            <img [src]="publicacion.thumbnail" alt="" />
            <div class="overlay">
              <a href="#" class="buy-btn"></a>
            </div>
          </div>
          <div class="detail-box">
            <div class="type">
              <a href="#">{{ publicacion.title }}</a>
              <span *ngIf="publicacion.shipping.free_shipping"
                >ENVIO GRATIS</span
              >
            </div>
            <a href="#" class="price">{{
              publicacion.price | currency: "$":true:"1.0-0"
            }}</a>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
