<section id="productos">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/fn2bnZ.png" alt="" />
        </div>
        <div class="card-content">
          <h4>Blusa color solido manga larga talla M</h4>
          <div class="precios">
            <p class="precio">$200.452</p>
            <p class="precio2">$100.452</p>
          </div>
          <button class="agregarCarrito"><p>Agregar Carrito</p></button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/vwfphY.png" alt="" />
        </div>
        <div class="card-content">
          <h4>Pantalon silueta skinny color solido</h4>
          <div class="precios">
            <p class="precio">$200.452</p>
            <p class="precio2">$100.452</p>
          </div>
          <button class="agregarCarrito"><p>Agregar Carrito</p></button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/AK5Eyw.png" alt="" />
        </div>
        <div class="card-content">
          <h4>Enterizo estampado flores tropical</h4>
          <div class="precios">
            <p class="precio">$200.452</p>
            <p class="precio2">$100.452</p>
          </div>
          <button class="agregarCarrito"><p>Agregar Carrito</p></button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <img src="../../../assets/img/Ps96Iq.png" alt="" />
        </div>
        <div class="card-content">
          <h4>Blusa asimetrica escote profundo</h4>
          <div class="precios">
            <p class="precio">$200.452</p>
            <p class="precio2">$100.452</p>
          </div>
          <button class="agregarCarrito"><p>Agregar Carrito</p></button>
        </div>
      </div>
    </div>
  </div>
</section>
