<section id="navbar">
  <nav>
    <div class="icon" routerLink="/home"><p>CLOTHESSTORE</p></div>
    <div class="search-box">
      <input
        [(ngModel)]="buscar"
        type="search"
        placeholder="Buscar aqui producto"
      />
      <span (click)="hacerBusqueda()" class="fa fa-search"></span>
    </div>
    <ol>
      <li>
        <a href="#" class="desaparece"><i class="fas fa-user"></i></a>
        <a href="#" class="desaparece"
          ><button class="iniciarSesion">Iniciar Sesion</button></a
        >
      </li>
    </ol>
    <label for="" class="bar">
      <span class="fa fa-bars" id="bars" (click)="mostrarMenu()"></span>
    </label>
  </nav>

  <nav class="menu2">
    <ol>
      <li>
        <a [ngClass]="{ desaparece: mostrar }" (click)="irCarrito()"
          ><i class="fas fa-shopping-cart"></i
        ></a>
      </li>
      <li>
        <a (click)="categoria('hombre')" [ngClass]="{ desaparece: mostrar }"
          >Hombre</a
        >
      </li>
      <li>
        <a (click)="categoria('mujer')" [ngClass]="{ desaparece: mostrar }"
          >Mujer</a
        >
      </li>
      <li>
        <a (click)="categoria('niños')" [ngClass]="{ desaparece: mostrar }"
          >Niños</a
        >
      </li>
      <li>
        <a (click)="categoria('accesorios')" [ngClass]="{ desaparece: mostrar }"
          >Accesorios</a
        >
      </li>
      <li>
        <a (click)="categoria('ofertas')" [ngClass]="{ desaparece: mostrar }"
          >Ofertas</a
        >
      </li>
    </ol>
  </nav>
</section>
